<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="\">Logo</a>
  
  <!-- Links -->
  <ul class="navbar-nav ml-auto">
    <%=link_to root_path, class:'nav-link'%> 
      <i class="fas fa-sign-in-alt">Log in</i>
    <%=link_to root_path, class:'nav-link'%> 
 <i class="fas fa-sign-in-alt">Sign in</i>
  </ul>
</nav>